buttons{
    display: flex;
    padding: 10px;
    border: none;
    background-color: red;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    height: 50px;
    width: 50px;
    font-size: 25px;
    margin-bottom: 6px;
    color: #ff6017;
    background-color: black;
    cursor: pointer;
}
.buttonNumeros{
    display: flex;
    padding: 10px;
    border: none;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    height: 50px;
    width: 50px;
    font-size: 25px;
    margin-bottom: 6px;
    color: white;
    background-color: black;
    cursor: pointer;
}
button:hover{
    background-color: rgb(73, 73, 73);
}
