body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Roboto", sans-serif;
  background: linear-gradient(
    180deg,
    rgb(69, 69, 238) 0%,
    rgb(155, 155, 248) 0%
  );
}

.container {
  border: 4px solid black;
  padding: 5px;
  max-width: 47vh;
  min-height: 90vh;
  border-radius: 18px;
  background-color: black;
}

.visor {
  display: flex;
  justify-content: end;
  align-items: end;
  padding: 10px;
  margin: 40px 10px 0px 10px;
  border-bottom: 1px solid #242222;
  height: 35vh;
  border-radius: 10px 10px 0px 0px;
  margin-bottom: 10px;
}
.teclado {
  display: flex;
  margin-top: 5px;
  border-radius: 0px 0px 10px 10px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0px 20px 0px 10px;
  gap: 4px;
  background-color: black;
}

.icone {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  color: #ff6017;
}
.valorDigitado {
  color: white;
  font-size: 40px;
  font-weight: 700;
  position: fixed;
}
.valorResultado {
  margin-top: 76vh;
  color: grey;
}
.valor2 {
  color: white;
  font-size: 40px;
  font-weight: 700;
  height: 100vh;
  margin-top: 500px;
}
.buttonNumeros {
  display: flex;
  padding: 10px;
  border: none;
  background-color: red;
  border-radius: 25px;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  height: 50px;
  width: 50px;
  font-size: 25px;
  margin-bottom: 6px;
  color: white;
  background-color: black;
  cursor: pointer;
}
.buttonIgualdade {
  display: flex;
  padding: 10px;
  border: none;
  border-radius: 25px;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  height: 50px;
  width: 50px;
  font-size: 25px;
  margin-bottom: 6px;
  color: white;
  background-color: #ff6017;
  cursor: pointer;
}
.divResultados {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  width: 200px;
  height: 505px;
}
@media (max-width: 390px) {
  .container {
    max-width: 43vh;
  }
  .teclado {
    gap: 15px;
  }
  .valorResultado {
    margin-bottom: 120px;
  }
}
